# Asset files - don't push to GitHub
**/assets/background/*.png
**/assets/background/*.jpg
**/assets/background/*.JPG
**/assets/background/*.jpeg
**/assets/video/*.mp4
**/assets/video/*.MP4
**/assets/img/
**/assets/brochure/
**/assets/plans/
**/assets/logowithname.png

# Installer files
**/installer/*.exe
**/installer/*.iss
**/installer/Output/

# Build directories
**/android/app/build/
**/build/
**/.gradle/
